#head {
    
    margin: 0;
    padding: 22px;
    max-width: 100%;
    
}

body{
    margin: 0;
    padding: 6em;
    background:rgb(209, 111, 111);
}

 
nav {
    position: fixed;
    top:0;
    left:0;
    width:100%;
    background:rgb(134, 125, 125);
    
    justify-content: center;
    margin-bottom: 1em;
    


}
nav ul{
    color:#fff;
    text-decoration:none;
    padding: .5em 2em;
    display: flex;
    flex-flow: row;
    width:50vw;
    justify-content: space-around;
    list-style:none;
}
nav ul hover{
    background:#fff;
}
footer{
    position: fixed;
    margin-top: 2em;
    margin-bottom:1em;
    background:#666;
    color:#fff;
    padding: 1em 0;
    text-align: center;

}